<h1>----------Ideas for Raffles Invent--------------</h1>
<h1>-----------------By Li Xi-----------------------</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @idea.number %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @idea.Idea %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
