<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name_of_guest %><br>
    <%= f.text_field :Name_of_guest %>
  </div>
  <div class="field">
    <%= f.label :BHAG %><br>
    <%= f.text_field :BHAG %>
  </div>
  <div class="field">
    <%= f.label :basic_idea %><br>
    <%= f.text_field :basic_idea %>
  </div>
  <div class="field">
    <%= f.label :headline %><br>
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :analogy %><br>
    <%= f.text_field :analogy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
